* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #067106
}

.start{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
}

.textStart{
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 33, 110);
    font-size: 1.6em;    
    margin-top: 200px;
}
.textHidden{
    animation: text-animation 2s;
}

.explan{
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1px 1px 10px 10px;
    background-color: rgb(212, 212, 212);
    padding: 5px 40px 5px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 33, 110);
    font-size: 0.8em; 
    margin-top: -18px;   
}

.explanHidden{
    animation: explan-animation 2s;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 7px solid rgb(60, 214, 60);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff, #f5c00173);
}

.wheel{
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: wheel-animation 2s infinite linear;
}

.coin{
    position: absolute;
    bottom: 35%;
    width: 40px;
    animation: coin-animation 4s infinite linear;

}

.player{
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;

}

.clouds{
    height: 20%;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.fogos{
    display: none;
    margin-left: 50%;
}

.group01{
    padding: 0;
    margin: 0;
    width: 100%;
}

.td01{
    width: 35%;
    text-align: left;
}

.td02{
    width: 10%;
    text-align: left;
}

.td03{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding-right: 20px;
}

.levelName{
    margin-left: 85%;
    text-align: center;
    width: 100px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.progress{
    width: 100%;
}

.numberXP{
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: left;
    margin-bottom: 3px;
    margin-left: 10px;
    
}

.limit{
    background-color: rgba(255, 255, 255, 0);
    width: 55px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: -55px;
}

.container{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.bloco01{
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    width: 400px;
    height: 70px;    
}
.bloco02{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    width: 400px;
    height: 70px;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.397);
    /* color: black; */
}

.name{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    width: 25px;
}

.popup{
    display: flex;
    position: absolute;
    width: 500px;
    height: 300px;
    left: 30%;
    top: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    
    border: 4px solid black;
    border-radius: 30px;
    background: linear-gradient(#354dd3, #4793b1, #c2a02873);
    box-shadow:  25px 25px 50px #d0d0d0, -25px -25px 50px #f0f0f0;
    animation: popup-animation 1.5s;
}

.go-title{
    text-align: center;
    font-size: 7vh;
}

.details{
    display: flex;
    flex-direction: row;        
    align-items: center;
    justify-content: space-between;
    width:100%;
    color: white;
}

.details > div{
    text-align: left;
    margin-left: 15px;
}
.value{
    text-align: center;
}

.best{
    margin-right: 15px;
    padding: 0px 25px 0px 25px;
}

.total{
    padding-top: 15px;
    color: black;
}

.reload{
    text-align: center;
    padding-top: 30px;
    font-size: 3vh;
    color: #b40606;
}

/*
############  ANIMATIONS   ############
*/

@keyframes wheel-animation{
    from{
        right: -60px;
    }
    to{
        right: 100%;
    }
}

@keyframes coin-animation{
    from{
        right: -200px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes jump-two{
    0%{
        bottom: 140px;
    }
    40%{
        bottom: 300px;
    }
    50%{
        bottom: 300px;
    }
    60%{
        bottom: 300px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -1550px
    }
    to{
        right: 100%
    }
}

@keyframes text-animation{
    0%{
        background-color: rgb(255, 255, 255);
        color: rgb(30, 33, 110);
        border: 1px solid black;
    }
    100%{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(30, 33, 110, 0);
        border: 1px solid rgba(0, 0, 0, 0);
    }
}

@keyframes explan-animation{
    0%{
        background-color: rgb(212, 212, 212);
        color: rgb(30, 33, 110);
        border: 1px solid black;
    }
    100%{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(30, 33, 110, 0);
        border: 1px solid rgba(0, 0, 0, 0);
    }
}

@keyframes popup-animation{
    0%{
        top: 1200px;
    }

    80%{
        top: 30%;
    }

    90%{
        top: 20%;
    }
    100%{        
        top: 30%;
    }
}